<div id="link-share-container" class="row">
  <div class="col-md-2">
      <span id="pitari-logo"><strong>Pitari</strong></span>
  </div>
</div>
<div id="logo-block" class="col-md-12 content-center">
  <span id="logo-text">Pitari</span>
  <span id="logo-subtitle">Start a new meeting</span>
</div>
<div class="col-md-12 meetings-new-form">
  <div class="col-md-6 col-md-offset-3 content-center">
  <%= form_for @discuss , :url => {:action => 'create'}  do |discuss_form| %>
    <div class="input-group">
      <span class="input-group-addon">Meeting Name</span>
      <%= discuss_form.text_field :name, placeholder: 'Please input the meeting name...', class: 'form-control'%>
    </div>
      <%= discuss_form.fields_for :user do |user_form| %>
        <div class="input-group my-3">
          <span class="input-group-addon">User Name&nbsp&nbsp&nbsp&nbsp&nbsp</span>
          <%= user_form.text_field :name, placeholder: 'Please input your name...', class: 'form-control' %>
        </div>
      
        <%= user_form.fields_for :agenda do |agenda_form| %>
          <div class="input-group my-3">
            <span class="input-group-addon">Agenda Name</span>
            <%= agenda_form.text_field :name, placeholder: 'Please input the first agenda...', class: 'form-control' %>
        </div>
        
          <div class="col-sm-12">
          <div class="col-sm-5 col-sm-offset-1">
            <%= agenda_form.radio_button :opinion, "1" %>
            <%= label_tag(:opinion_yes, "Positive", for: "discuss_user_agenda_opinion_1") %>
          </div>
          <div class="col-sm-5">
            <%= agenda_form.radio_button :opinion, "0" %>
            <%= label_tag(:opinion_no, "Negative", for: "discuss_user_agenda_opinion_0") %>
          </div>
        </div>
        <% end %>
      <% end %>
        <%= discuss_form.submit "Start", class: "circle-btn btn-success my-8" %>
    <% end %>
  </div>
</div>