<div class="col-md-12 content-center">
  <img src="https://dummyimage.com/600x400/fff/000&text=pitari" alt="logo" class="pj-logo"/>
</div>
<div class="col-md-12 meetings-new-form">
  <div class="col-md-4 col-md-offset-4 content-center">
    <%= form_for @discuss ,url: discuss_path do |discuss_form| %>
      <%= discuss_form.text_field :name, placeholder: 'Meeting Name', class: 'form-control my-3'%>

        <%= discuss_form.fields_for :user do |user_form| %>
        <%= user_form.text_field :name, placeholder: 'User Name', class: 'form-control my-3' %>
      
        <%= user_form.fields_for :agenda do |agenda_form| %>
        <%= agenda_form.text_field :name, placeholder: 'Agenda', class: 'form-control my-3' %>
        <div class="col-sm-12">
          <div class="col-sm-3 col-sm-offset-3">
            <%= agenda_form.radio_button :opinion, "1" %>
            <%= label_tag(:opinion_yes, "Positive", for: "discuss_user_agenda_opinion_1") %>
          </div>
          <div class="col-sm-3">
            <%= agenda_form.radio_button :opinion, "0" %>
            <%= label_tag(:opinion_no, "Negative", for: "discuss_user_agenda_opinion_0") %>
          </div>
        </div>
        <% end %>
      <% end %>
        <%= discuss_form.submit "create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>