<div id="link-share-container" class="row all-contents-center">
    <div class="col-md-2">
        <span id="pitari-logo"><strong>Pitari</strong></span>
    </div>
    <div class="col-md-7 col-md-offset-3">
        <div class="input-group">
            <input id="share-link" type="text" class="form-control" disabled value=<%= request.raw_host_with_port + '/users/new?discuss_id=' + @discuss.id.to_s%>>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onClick="copyShareLinkToClipboard()">Copy</button>
            </span>
        </div>
    </div>
</div>
<div id="conversation-container" class="content-center">
    <div class="col-md-10 col-md-offset-1 has-border full-height">
        <div class="container-title col-md-12">Talking</div>
        <div class="col-md-12 half-height">
            <div class="col-md-8 col-md-offset-2 half-height">
                <div class="col-md-4 full-height all-contents-center">
                    <%= image_tag("chat.svg", class: "speaking-user-icon")%>
                </div>
                <div class="col-md-8 full-height all-contents-center">
                    <div class="col-md-12 agenda-opinion full-height">
                        <% if @discuss.agendas.last.opinion %>
                            <%= image_tag("happy.svg", class: "speaking-agenda-opinion", id: "agenda-opinion-display-positive") %>
                            <%= image_tag("nervous.svg", class: "speaking-agenda-opinion", id: "agenda-opinion-display-negative", style: "display:none") %>
                        <% else %>
                            <%= image_tag("happy.svg", class: "speaking-agenda-opinion", id: "agenda-opinion-display-positive", style: "display:none") %>
                            <%= image_tag("nervous.svg", class: "speaking-agenda-opinion", id: "agenda-opinion-display-negative") %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div id="speaking-text" class="col-md-8 col-md-offset-2">
                <div><strong><span id="user-name-display"><%=@discuss.users.first.name %></span></strong></div>
                <div>is talking about</div>
                <div>「<strong><span id="agenda-name-display"><%=@discuss.agendas.last.name %></span></strong>」</div>
            </div>
        </div>
    </div>
</div>
<!--　TODO:参加者リスト　-->

<div id="speak-div" class="col-md-10 col-md-offset-1 content-center half-height has-border">
    <!--　TODO:バックエンドとのやり取り　-->
    <div class="container-title col-md-12">Next Agenda</div>
        
    <div class="col-md-12 my-1">
    <%=text_field_tag :agenda_name, nil, class: "form-control", placeholder: "Please input new agenda..."%>
    </div>
    <div class="col-md-6 my-1">
        <%= radio_button_tag(:agenda_opinion, "1") %>
        <%= label_tag(:positive, "positive", for: "agenda_opinion_1") %>
    </div>
    <div class="col-md-6 my-1">
        <%= radio_button_tag(:agenda_opinion, "0") %>
        <%= label_tag(:negative, "negative", for: "agenda_opinion_0") %>
    </div>
    <div class="col-md-12 my-1">
        <%= button_tag "Agenda Change", class: "btn btn-success col-md-4 col-md-offset-4", id: "user-speak"%>
    </div>
</div>

<div id="users-container" class="content-center">
    <div class="col-md-10 has-border col-md-offset-1 full-height">
        <div class="container-title col-md-12">Participants</div>
        <ul id="users-list">
            <% @discuss.users.each do |user| %>
                <li>
                <div class="col-sm-2 full-height">
                    <%= image_tag("listening.svg")%>
                    <span class="participant-name"><%= user.name %></span>
                    <div class="heartRev">                  
                    <% user.understand.times do |i| %>
                        <span class="heartR on">heart<%= i%></span>
                    <% end %>
                    </div> 
                </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<!--　星表示　-->
<script>
    $('.heartRev span').click(function(){
        $(this).parent().children('span').removeClass('on');
        $(this).addClass('on').prevAll('span').addClass('on');
        return false;
    });
</script>


<script>
    function copyShareLinkToClipboard() {
        var targetElement = document.getElementById("share-link")
        var tempElement = document.createElement("input");
        tempElement.setAttribute("value", targetElement.value)
        document.body.append(tempElement)
        tempElement.select();
        document.execCommand("copy")
        document.body.removeChild(tempElement)
        alert("link copied")
    }
</script>