<div id="link-share-container">
    <div class="col-sm-5 col-sm-offset-1">
        <div class="input-group">
            <input id="share-link" type="text" class="form-control" disabled value=<%= request.raw_host_with_port + '/users/new?discuss_id=' + @discuss.id.to_s%>>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onClick="copyShareLinkToClipboard()">Copy</button>
            </span>
        </div>
    </div>
</div>
<div id="conversation-container" class="content-center">
    <div class="col-sm-10 col-sm-offset-1 has-border full-height">
        <div class="col-sm-9 full-height">
            <div class="col-sm-8 col-sm-offset-2 half-height">
            <!--　TODO:リアルタイム更新　-->
                <div class="col-sm-4 full-height speaking-user">
                    <p><%= image_tag("sarariman.svg", class: "speaking-user-icon")%></p>
                    <!--　TODO:発言者の名前　-->
                    <h3 id="user-name-display"><%=@discuss.users.first.name %></h3>
                </div>
                <div class="col-sm-8 full-height">
                    <!--　TODO:発言者の話題と態度　-->
                    <div class="col-sm-12 agenda-name half-height speaking-agenda-name">
                        <h4 id="agenda-name-display"><%=@discuss.agendas.last.name %></h4>
                    </div>
                    <div class="col-sm-12 agenda-opinion half-height">
                        <% if @discuss.agendas.last.opinion %>
                            <%= image_tag("iine.svg", class: "speaking-agenda-opinion", id: "agenda-opinion-display-positive") %>
                            <%= image_tag("yokunai.svg", class: "speaking-agenda-opinion", id: "agenda-opinion-display-negative", style: "display:none") %>
                        <% else %>
                            <%= image_tag("iine.svg", class: "speaking-agenda-opinion", id: "agenda-opinion-display-positive", style: "display:none") %>
                            <%= image_tag("yokunai.svg", class: "speaking-agenda-opinion", id: "agenda-opinion-display-negative") %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div id="speak-div" class="col-sm-8 col-sm-offset-2 half-height">
                <!--　TODO:バックエンドとのやり取り　-->
                <div class="col-sm-12 my-3">
                <%=text_field_tag :agenda_name, nil, class: "form-control", placeholder: "something to say..."%>
                </div>
                <div class="col-sm-6 my-3">
                    <%= radio_button_tag(:agenda_opinion, "1") %>
                    <%= label_tag(:positive, "positive", for: "agenda_opinion_1") %>
                </div>
                <div class="col-sm-6 my-3">
                    <%= radio_button_tag(:agenda_opinion, "0") %>
                    <%= label_tag(:negative, "negative", for: "agenda_opinion_0") %>
                </div>
                <div class="col-sm-12 my-3">
                    <%= button_tag "発言", class: "btn btn-danger col-sm-4 col-sm-offset-4", id: "user-speak"%>
                </div>
            </div>
        </div>
        <div class="col-sm-3 full-height">
            <!--　TODO:議題履歴　-->
        </div>
    </div>
</div>

<!--　TODO:参加者リスト　-->
<!--　TODO:参加者リスト =>inline-blockで試す　-->
<% if false %>
<div id="users-container" class="topnewbox">
        <% @discuss.users.each do |user| %>
                <div class="inline-block">
                    <h3 p class="bg-success"><%= user.name %></p></h3>
                    <p><%= image_tag("sarariman.svg", class: "speaking-user-icon")%></p>
                </div>
        <% end %>
</div>
<% end %>

<!--　TODO:参加者リスト =>rowで試す　-->
<div id="users-container" class="row"> 
        <% @discuss.users.each do |user| %> 
                <div class="col-md-2"><h3 p class="bg-success"><%= user.name %></p></h3>
                <p><%= image_tag("sarariman.svg", class: "speaking-user-icon")%></p>
                    <% if false %>
                    #<div>
                    #    <%= link_to listing_path(listing) do %>
                    #        <%= image_tag listing.main_photos[0].image.url,class:"image-s" %>
                    #    <% end %>
                    #</div>
                    <% end %>
                </div> 
        <% end %>
</div>
        

        <!--　TODO:リアルタイム更新　-->
    <div></div>
</div>



<script>
    function copyShareLinkToClipboard() {
        var targetElement = document.getElementById("share-link")
        var tempElement = document.createElement("input");
        tempElement.setAttribute("value", targetElement.value)
        document.body.append(tempElement)
        tempElement.select();
        document.execCommand("copy")
        document.body.removeChild(tempElement)
        alert("link copied")
    }
</script>