<%= render "feelings/result" %>
<div class="col-sm-3 col-sm-offset-3 mt-10">
    <%= form_with url: feelings_vote_path do |f| %>
        <%= f.hidden_field :selection, value: "true" %>
        <%= f.submit "Yes", class: "btn btn-success col-sm-12"%>
    <% end %>
</div>
<div class="col-sm-3 col-sm-offset-3 mt-10">
    <%= form_with url: feelings_vote_path do |f| %>
        <%= f.hidden_field :selection, value: "false" %>
        <%= f.submit "No", class: "btn btn-danger col-sm-12"%>
    <% end %>
</div>