<% provide(:title, 'Sign up') %>

<div class="row m-0">
  <div class="col-md-6 col-md-offset-3 has-border user-join-form">
    <%= form_for @user, :url => {:action => 'create'} do |f| %>
      <h3>「<%=@user.discuss.name %>」参加する</h3>
        <div class="input-group">
        <%= f.text_field :name, class: 'form-control', placeholder: '名前を入力してください...' %>
        <%= f.hidden_field :discuss_id, :value => @user.discuss_id %>
        <span class="input-group-btn">
          <%= f.submit "join", class: "btn btn-default" %>
        </span>
      </div>
    <% end %>
  </div>
</div>
