<!DOCTYPE html>
<html>
  <head>
    <title>Pitari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="col-sm-9">
        <%= yield %>
      </div>
      <div class="col-sm-3">
        <div class="btn-group-vertical col-sm-12" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">履歴</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">XXXについて</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">AAAの問題</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">XXいいですか</button>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
